# =========================================================
# COPY Docker tar file from local to remote/server
# =========================================================
---
- name: Load shared variables
  include_vars:
    file: ../vars/main.yaml
    
- name: Ensure folder created
  file:
    path: "{{backend_remote_path}}"
    state: directory
  become: true

- name: Ensure folder created
  file:
    path: "{{ backend_remote_path }}/logs"
    state: directory
  become: true

- name: Ensure backend file copied
  copy:
    src: data/backend/
    dest: "{{backend_remote_path}}/"
  become: true

# =========================================================
# Load local Docker image tar file into Docker + kind
# =========================================================

- name: Load Docker image from tar file
  shell: docker load -i "{{ backend_remote_path }}/{{ image_tar_file }}"

- name: Load Docker image into kind cluster
  shell: kind load docker-image "{{ image_name }}" --name "{{ kind_cluster_name }}"