# ================================
# Copy Kubernetes YAMLs & apply
# ================================
- name: Load shared variables
  include_vars:
    file: ../vars/main.yaml

- name: Create k8s manifests directory on Ubuntu
  file:
    path: "{{ k8s_remote_path }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"
  become: true

- name: Render namespace manifest
  template:
    src: "../k8s/namespace.yaml.j2"
    dest: "{{ k8s_remote_path }}/namespace.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
  become: true

- name: Render ASP.NET Core deployment + service
  template:
    src: "../k8s/myapp-web.yaml.j2"
    dest: "{{ k8s_remote_path }}/myapp-web.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
  become: true

- name: Apply namespace
  shell: kubectl apply -f namespace.yaml
  args:
    chdir: "{{ k8s_remote_path }}"

# - name: Apply MSSQL deployment + service
#   shell: kubectl apply -f mssql.yaml
#   args:
#     chdir: "{{ k8s_remote_path }}"

- name: Apply ASP.NET Core deployment + service
  shell: kubectl apply -f myapp-web.yaml
  args:
    chdir: "{{ k8s_remote_path }}"