# =========================================================
# Create kind cluster
# =========================================================
---
- name: Check if kind cluster exists
  shell: kind get clusters
  register: kind_clusters
  failed_when: false
  changed_when: false

- name: Create kind cluster
  shell: kind create cluster --name {{ kind_cluster_name }}
  when: kind_clusters.stdout is defined and kind_cluster_name | default('') not in kind_clusters.stdout